.header{
	margin-top:20px;
}

h1 {
	font-size: 4em;
	color: orange;
}

li{
	list-style: none;
}

button{
	margin-left:25%;
	margin-right:25%;
	background-color: black;
	
}

.top{
	text-align: center;

}

.wrapper{
	background: url(../img/open-window.png) no-repeat;
	background-position: center right-top;
	background-size: 100%;
}

.bg{
  background-color: #F2F2F2;

}

.city,
.cityAndState,
.temp
{
	color:#00163F;
	font-size: 2em;
	margin:2%;
	
}

.currently{
	color:#054BA6;
	font-size: 2em;
	margin:1%;
}

.high,
.low,
.humidity{

	font-size:1em;
}
.sunrise{
	color:#F69A19;
	font-size:.75em;
	margin-right:1%;

}
.sunset{
	color:#F69A19;
	font-size:.75em;
	margin-left:1%;
}

#getWeather{
	margin-top:20px;
	margin-left: 10%;
	margin-right: 10%;
	width:80%;
}

.code{
	margin-left:20%;
	margin-right:20%;

}


.currentView{
	font-size: 2em;
	margin: 10%;
	color:#F69A19;
}





