.header{
	margin-top:20px;
}

h1 {
	font-size: 4em;
	color: orange;
}

li{
	list-style: none;
}

button{
	margin:5%;
	background-color: black;
	
}

.wi-sunset{
	color:orange;
}

#getWeather{
	margin-top:20px;
}

.code{
	margin-left:20%;

}